<form class="" action="index.html" method="post">
  <div class="form-group">
     <label for="form_email">Email address</label>
     <input [(ngModel)]="form_email" name="form_email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
     <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
   </div>
     <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="row">
  <p>{{form_email}}</p>
</div>
